.header{
   font-size: 22px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 40px;
   font-family: seasons;
}

.header-logo img {
  height: 100px; 
  width: 100px;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 100px;    /* Spacing between nav items */
  margin-left: 100px;
  padding: 0;
}

.header-nav li {
  cursor: pointer;
}

#contact-us-button{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;     
    font-size: 22px;
    font-family: seasons;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}
